fastapi
uvicorn
python-dotenv
langgraph
langchain_anthropic
tavily-python
langchain-community
langchainhub
langchain_openai
langchain-ibm
duckduckgo-search
ibm-watsonx-ai
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
